nav {
  padding: 20px 0;
  position: relative;
  & .container {
    & .left {
      gap: 20px;
      @include breakpoint-up(small) {
        gap: 10px;
      }
      & img {
        @include breakpoint-down(medium) {
          height: 28px;
          width: 110px;
        }
        @include breakpoint-up(medium) {
          height: 33px;
          width: 121px;
        }
      }
      & ul.desktop-links {
      }
    }
    & .right {
    }
    & .ham-menu {
      border: none;
      border-radius: 10px;
      padding: 7px;
      background-color: transparent;
      height: fit-content;
      cursor: pointer;
    }
  }
}
